form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 1rem auto;
}

.todo-input {
    padding: 1rem 2rem;
    background-color: #333;
    margin: 0 auto;
    width: 90vw;
    color: white;
    border: 0.1rem solid #aeaeae;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


@media (min-width: 25rem) {
    form {
        width: 70vw;
    }
    .inputTodo {
        width: 70vw;
    }
}


@media (min-width: 40rem) {
    form {
        width: 50vw;
    }
    .inputTodo {
        width: 50vw;
    }
}

