.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.message {
  text-align: center;
  margin: 10rem 1rem;
}

@media (min-width: 25rem) {
  .todo-container {
    width: 70vw;
  }
}

@media (min-width: 40rem) {
  .main-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .todo-container {
    width: 50vw;
    margin: 0 0 0 30rem;
  }
}
