.todoScroll {
    height: 22rem;
    width: 90vw;
    margin: 1rem auto;
    margin-top: 0;
    border: 0.1rem solid #aeaeae;
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 0 0 rgba(0, 0, 0, 0.5);
}
.todoScroll::-webkit-scrollbar {
    display: none;
}

@media (min-width: 25rem) {
    .todoScroll {
        width: 70vw;
    }
}

@media (min-width: 40rem) {
    .todoScroll {
        height: 25rem;
        width: 50vw;
    }
}