.todoCard {
    display: flex;
    min-height: 3.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.1rem solid #aaa;
    margin: 0.1rem;
}

.checkComplete {
    margin: 0.5rem;
}

.keys {
    text-align: left;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.editRemove {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.editTodo {
    padding: 0.25rem;
    cursor: pointer;
    z-index: 3;
    margin-left: auto;
}

.removeTodo {
    margin: 0.1rem 0.1rem 0.1rem auto;
    padding: 0.25rem;
    cursor: pointer;
    z-index: 3;
}

.completed {
    color:rgb(62, 63, 69);
    text-decoration: line-through;
    background-color: #777;
}

.highlight {
    color:aliceblue;
}

.hidden {
    display: none;
}


.fa-circle {
    color: linear-gradient(to top, #ff416c, #ff4b2b) !important;
    margin: 0.5rem;
  }

.fa-circle-o {
    color: #ccc;
    margin: 0.5rem;
}

.fa-circle:hover, .fa-circle-o:hover {
    cursor: pointer;
}