.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    border: 0.1rem solid #aeaeae;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    margin: 1rem auto;
}

.filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 1rem;
}

.filter-click {
    color: #aeaeae;
    font-size: 0.75rem;
    font-weight: 600;
    text-decoration: none;
}

.filter-click:hover {
    cursor: pointer;
    color: beige;
}

.clear-completed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1rem;
}

@media (min-width: 25rem) {
    .filter {
        width: 70vw;
    }
}

@media (min-width: 40rem) {
    .filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 50vw;
    }
    .filter-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 33%;
    }
}