/*GLOBAL*/
html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(#2a2828, #665d58);
  background-size: contain;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

button {
  background-color: #000;
  color: aliceblue;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.5), 0 -6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/*TodoList*/
.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.message {
  text-align: center;
  margin: 10rem 1rem;
}

@media (min-width: 25rem) {
  .todo-container {
    width: 100%;
  }
}

@media (min-width: 40rem) {
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .todo-container {
    width: 50%;
    margin: 2rem auto;
  }
}

/*Todo Form*/
.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 1rem auto;
}

.todo-input {
  padding: 0.5rem 1rem;
  background-color: #333;
  margin: 0 auto;
  width: 90vw;
  color: white;
  border: 0.1rem solid #aeaeae;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

@media (min-width: 25rem) {
  .input-form {
    width: 70vw;
  }
  .todo-input {
    width: 70vw;
  }
}

@media (min-width: 40rem) {
  .input-form {
    width: 50vw;
  }
  .todo-input {
    width: 50vw;
  }
}

/*Todo Filter*/
.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  border: 0.1rem solid #aeaeae;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  margin: 1rem auto;
  margin-bottom: 0;
}

.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 1rem;
}

.filter-click {
  color: #aeaeae;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
}

.filter-click:hover {
  cursor: pointer;
  color: beige;
}

.clear-completed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1rem;
}

@media (min-width: 40rem) {
  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 50vw;
  }
  .filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 33%;
  }
}

/*Todo*/
.todoCard {
  display: flex;
  min-height: 3.5rem;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border: 0.05rem solid #aaa;
  border-left: none;
  border-right: nonse;
  margin: 0.1rem;
}

.checkComplete {
  margin: 0.5rem;
}

.keys {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.keys > svg {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.keys > p {
  margin: 1.5rem;
  padding: 0.5rem;
}

.editRemove {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.editTodo {
  padding: 0.25rem;
  cursor: pointer;
  z-index: 3;
  margin-left: auto;
}

.removeTodo {
  margin: 0.1rem 0.1rem 0.1rem auto;
  padding: 0.25rem;
  cursor: pointer;
  z-index: 3;
}

.completed {
  color: rgb(62, 63, 69);
  text-decoration: line-through;
  background-color: #777;
}

.highlight {
  color: aliceblue;
}

.hidden {
  display: none;
}

.fa-circle {
  color: linear-gradient(to top, #ff416c, #ff4b2b) !important;
  margin: 0.5rem;
}

.fa-circle-o {
  color: #ccc;
  margin: 0.5rem;
}

.fa-circle:hover,
.fa-circle-o:hover {
  cursor: pointer;
}

/*Scroll*/
.todoScroll {
  height: 18rem;
  width: 90%;
  margin: 0 auto 1rem auto;
  border: 0.1rem solid #aeaeae;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 0 0 rgba(0, 0, 0, 0.5);
}
.todoScroll::-webkit-scrollbar {
  display: none;
}

@media (min-width: 25rem) {
  .todoScroll {
    width: 90%;
  }
}

@media (min-width: 40rem) {
  .todoScroll {
    height: 25rem;
    width: 50vw;
  }
}

/*Edit*/
.edit {
  padding: 1rem 2rem;
  background-color: #333;
  margin: 0 auto;
  width: 15vw;
  color: white;
  border: 0.1rem solid #aeaeae;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

@media (min-width: 40rem) {
  .edit {
    width: 25vw;
  }
}

/*Sidebar*/
.sideBar {
  display: none;
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  margin-top: 0;
  border: 0.1rem solid #aeaeae;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 0 0 rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.sideBar::-webkit-scrollbar {
  display: none;
}

/* @media (min-width: 40rem) {
  .sideBar {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 20vw;
  }
} */

/*Sidebar New Todo*/
.new-btn {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.new-btn:hover {
  background-color: rgb(144, 0, 255);
  border-color: rgb(144, 0, 255);
}

/*Clear*/
.clear-btn {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.clear-btn:hover {
  background-color: red;
  border-color: red;
}
