/*GLOBAL*/
body {
    background: linear-gradient(#e66465, #9198e5);
    background-size: contain;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

/*h1 styiling*/
 h1 {
    background: rgba(133, 0, 156,0.25);
    color: white;
    border-radius: 10px; 
 }

/*p styling*/
p {
    background: rgba(133, 0, 156,0.25);
    color: white;
    border-radius: 10px;
}

/*Background for list*/
.list-section{
    background-color: rgba(133, 0, 156,0.25);
}

/*List spacing*/
.list {
    margin: 0.5em;
    display: flex;
    justify-content:space-between;
    color:rgb(108, 1, 185);
    font-weight: bold;
}

.fin {
    border-radius: 10px;
    background-color: rgba(108, 1, 185,0.25);
    color: white;
}

/* created done class*/
.done {
    text-decoration: line-through;
}

/* Remove bullet points from list*/
.text {
    list-style: none;
    justify-items: start;
}

